body{
    background-image: url("./Images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    align-content: center;
    justify-items: center;
}

form{
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(20px);
    border-radius: 5%;
    color: white;
    padding: 1rem;
    justify-items: center;
    font-size: 1.5rem;
    min-width: 25%; 
    min-height: 40%;
    align-content: center;
    text-align: center;
}

form > *{
    padding:1rem ;
}

input {
    font-size: inherit;
    border-radius: 10px;
    max-width: 40%;
}

.buttons > *{
    min-width: 150px;
    font-size: 1.5rem;
}

.buttons > *:hover{
    background-color: rgba(125, 125, 125, 1);
    color: white;
    transform: translateY(-5px);
    transition: transform 0.2s ease;
}